__________________________________________________________________________________________
# 01. Introduction to Python & Jupyter Notebook
__________________________________________________________________________________________
The following notebook will introduce the **Jupyter Notebook** tool and describe some of the most basic Python programming language topics, such as:

* Data types - Numbers, Strings, Printing, Lists, Dictionaries, Booleans, Tuples, Sets
* Comparison & Logic Operators
* `range()` and `zip()`

You should read the text, experiment with the cells, and attempt to complete the provided exercises.
__________________________________________________________________________________________
For more info, check the [Whirlwind Tour Of Python](https://github.com/jakevdp/WhirlwindTourOfPython) repository from which some of the examples given below were borrowed and these links (optional): 
- [Introduction to Jupyter Notebook](http://bebi103.caltech.edu/2015/tutorials/t0b_intro_to_jupyter_notebooks.html)
- [Jupyter (IPython) Notebook Features](http://arogozhnikov.github.io/2016/09/10/jupyter-features.html)
- [Python Basics 1](https://github.com/clone95/Virgilio/blob/master/NewToDataScience/PythonBasic.md)
- [Python Basics 2](https://automatetheboringstuff.com/)
- [Ruby to Python](http://kronosapiens.github.io/blog/2014/05/10/from-ruby-to-python.html)
__________________________________________________________________________________________

## IPython / Jupyter environment
__________________________________________________________________________________________
### Basic Operations & Shortcuts
There are two modes of selection when inside a Jupyter Notebook:
    1. Command Mode - When you hit up/down arrows you select different cells. Hit enter to enter edit mode.
    1. Edit Mode - You can edit the cell. Hit Esc to enter Command Mode again.
    
In **Command Mode** (cell highlighted blue):
```
                h - bring up help window (contains full list of shortcuts!)
          <enter> - Enter Edit Mode
                a - create new cell above selected
                b - create cell below selected
             d, d - delete selected cell
```

In **Edit Mode** (cell highlighted green):
```
            <esc> - Enter Command Mode
<shift> + <enter> - Run cell and move to cell below in Command Mode
 <ctrl> + <enter> - Run cell in place

```
__________________________________________________________________________________________
### Printing and cell output
A Jupyter notebook is a collection of code and text cells. Each code cell can be run and the output is given below the cell. Importantly, the objects created by running cells are stored in the kernel running in the background (can be restarted using the Kernel menu at the top of the notebook). A number appearing at the side of the cell indicates the order in which the cells were run. 

The notebook will try to display the last thing in the cell even if you don't use a print statement. However, if you want to print multiple things from one cell, you need to use multiple print statements or multiple cells.

In [1]:
a = 1
b = 2
a

1

In [5]:
a
b

2

In [6]:
print(a)
print(b)

1
2

__________________________________________________________________________________________
### Built-in Magic Commands

There are [many built-in magic commands](http://ipython.readthedocs.io/en/stable/interactive/magics.html) (like `%connect_info`) which allow you to do other fun things with notebooks. Check them out.

### Tab completion
Tab completion is a powerful method for viewing object attributes and available methods.

Let's see an example of this by using a Python [list](http://www.tutorialspoint.com/python/python_lists.htm). We will create a list and then you can see what methods are available by typing the list name followed by `.` and then hitting the &lt;tab&gt; key. Then you can access any method's help documentation by hitting the method's name followed by `?`; this opens a 'pager' at the bottom of the screen, you can hit &lt;esc&gt; to exit it.

In [ ]:
l = [1, 4.2, 'hello']
l

In [ ]:
# type l. then hit <tab>

_________________________________________________________________________________________________________________
## Built-In Types: Simple Values
All Python objects have type information attached. These are the built-in simple types offered by Python:

| Type        | Example        | Description                                                  |
|-------------|----------------|--------------------------------------------------------------|
| ``int``     | ``x = 1``      | integers (i.e., whole numbers)                               |
| ``float``   | ``x = 1.0``    | floating-point numbers (i.e., real numbers)                  |
| ``complex`` | ``x = 1 + 2j`` | Complex numbers (i.e., numbers with real and imaginary part) |
| ``bool``    | ``x = True``   | Boolean: True/False values                                   |
| ``str``     | ``x = 'abc'``  | String: characters or text                                   |
| ``NoneType``| ``x = None``   | Special object indicating nulls                              |

### Numbers

In [11]:
1 + 1

2

In [12]:
# Float or int depending on the multiplicatives
1 * 3.

3.0

In [13]:
# Always float
# True division
1 / 2

0.5

In [14]:
# Int division
9 // 2

4

In [15]:
9. // 2

4.0

In [16]:
2*2*2*2

16

In [17]:
# 2 by 4th (power)
2 ** 4

16

In [18]:
# 1 * 10^^5
1e5

100000.0

In [19]:
# Mod operation (the remainder)
1e5 % 7

5.0

In [20]:
4 % 2

0

In [21]:
5 % 2

1

In [22]:
(2 + 3) * (5 + 5e-2)

25.25

### Variable Assignment

    name_of_var = value
    
where name can not start with number or special caracters (snake_case is the preferred style).

In [23]:
name_of_var = 2
name_of_var

2

In [24]:
x = 2
y = 3

In [25]:
z = x + y

In [26]:
z

5

### Strings

In [27]:
'single quotes'

'single quotes'

In [28]:
"double quotes"

'double quotes'

In [29]:
"'wrap lot's of \"other\" quotes'"

'\'wrap lot\'s of "other" quotes\''

In [30]:
"""
multiline strings
are handy
sometimes
"""

'\nmultiline strings\nare handy\nsometimes\n'

In [32]:
s = "The lord of the rings"

Commonly used string object methods include `lower()`, `upper()`, `title()`, `split()`.

In [33]:
s.lower()

'the lord of the rings'

In [34]:
s.upper()

'THE LORD OF THE RINGS'

In [35]:
# Not true title case - just capitalizes every word
s.title()

'The Lord Of The Rings'

In [36]:
s.split()

['The', 'lord', 'of', 'the', 'rings']

In [38]:
tweet = '#dl #ml #ai #python #=5-9'

In [39]:
tweet.split('#')

['', 'dl ', 'ml ', 'ai ', 'python ', '=5-9']

In [41]:
# Different ways, same formatting
for s in tweet.split('#'):
    print(f"-{s}-")
    print("-{}-".format(s))
    print("-" + s + "-")
    print("-%s-" % (s))

--
--
--
--
-dl -
-dl -
-dl -
-dl -
-ml -
-ml -
-ml -
-ml -
-ai -
-ai -
-ai -
-ai -
-python -
-python -
-python -
-python -
-=5-9-
-=5-9-
-=5-9-
-=5-9-

In [47]:
# There were spaces after some of the tags, let's remove them
for s in tweet.split('#'):
    print(f"-{s.strip()}-")

--
-dl-
-ml-
-ai-
-python-
-=5-9-

In [48]:
# .strip() has parameters, but be careful with them
for s in tweet.split('#'):
    print(f"-{s.strip('=5-9')}-")

--
-dl -
-ml -
-ai -
-python -
--

In [49]:
tweet

'#dl #ml #ai #python #=5-9'

In [50]:
"dl" in tweet

True

In [51]:
"DL" in tweet

False

In [52]:
"ython" in tweet

True

In [53]:
"x" in tweet

False

### Comments & Strings again

In [59]:
# Comments in Python are always singleline
# Multiline comments are just singleline comments next to each other
# This is a comment
# Comment toggle shortcut: cmd + /

first_name = 'Slim'
last_name = 'Shady'
age = 27

In [60]:
message = f'Hello, my name is {first_name} {last_name}. I am {age} years old'
message

'Hello, my name is Slim Shady. I am 27 years old'

In [62]:
print("My name is {} {}. I am {} years old".format(first_name, last_name, age))

My name is Slim Shady. I am 27 years old

In [63]:
print('My name is {name} {surname}. I am {age} years old'.format(
    age=age, name=first_name, surname=last_name))

My name is Slim Shady. I am 27 years old

In [65]:
person_data = {
    'age': 27,
    'surname': 'Shady',
    'name': 'Slim',
}

# Don't worry about the double star right now, we will cover it soon enough
print('My name is {name} {surname}. I am {age} years old'.format(**person_data))

My name is Slim Shady. I am 27 years old

In [66]:
# Don't use this in modern python please
print('My name is %s %s. I am %d years old' % ('Slim', 'Shady', 27))

My name is Slim Shady. I am 27 years old

___________________________________________________
## Python Built-In Data Structures
We have seen Python's simple types: ``int``, ``float``, ``complex``, ``bool``, ``str``, and so on.
Python also has several built-in compound types, which act as containers for other types.
These compound types are:

| Type Name | Example                   |Description                            |
|-----------|---------------------------|---------------------------------------|
| ``list``  | ``[1, 2, 3]``             | Ordered collection                    |
| ``tuple`` | ``(1, 2, 3)``             | Immutable ordered collection          |
| ``dict``  | ``{'a':1, 'b':2, 'c':3}`` | Unordered (key,value) mapping         |
| ``set``   | ``{1, 2, 3}``             | Unordered collection of unique values |

As you can see, round, square, and curly brackets have distinct meanings when it comes to the type of collection produced.
We'll take a quick tour of these data structures here.
## Lists
Lists are the basic *ordered* and *mutable* data collection type in Python defined with comma-separated values between square brackets;

In [67]:
[1, 2, 3]

[1, 2, 3]

In [68]:
# Any data type can be in a list
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [69]:
# Define `my_list`
my_list = ['a', 'b', 'c']

In [70]:
# Add an element to `my_list`
my_list.append('d')

In [71]:
# The first element in the list
my_list[0]

'a'

In [72]:
my_list[1]

'b'

In [73]:
# Slice the list from the second element to the last
# N.B. Indexing from 0
my_list[1:]

['b', 'c', 'd']

In [74]:
# Slice the list from the first element to the 3rd (non-inclusive)
my_list[:2]

['a', 'b']

In [75]:
# Slice the list from the first element to the 2nd last (non-inclusive)
my_list[:-2]

['a', 'b']

In [76]:
# Slice the list from the
my_list[-3:-1]

['b', 'c']

In [77]:
# Assing a value to the first list element
my_list[0] = 'NEW'

In [78]:
my_list

['NEW', 'b', 'c', 'd']

In [79]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [80]:
[0, 1] * 10

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

### `Exercise 1`
Assign 'target' to a variable by indexing `nest`

In [87]:
# Exercise: assign 'target' to a variable
nest = [1, 2, 3, [4, 5, ['target']]]
var = nest[-1][-1][0]
var

'target'

You can check if the list contains some element by using `in`

In [88]:
1 in nest

True

But `in` is not recursive

In [89]:
# in is not recursive
"target" in nest

False

In [90]:
# Extend the list by adding some value or a list of values
nest.extend(['something'])
nest

[1, 2, 3, [4, 5, ['target']], 'something']

In [91]:
nest = nest + ['else']
nest

[1, 2, 3, [4, 5, ['target']], 'something', 'else']

In [92]:
# Deletes and returns the last element
nest.pop()

'else'

In [93]:
nest.pop(2)

3

In [94]:
nest.insert(2, 'another one')
nest

[1, 2, 'another one', [4, 5, ['target']], 'something']

In [95]:
nest.insert(200, 'another one')
nest

[1, 2, 'another one', [4, 5, ['target']], 'something', 'another one']

If the object has a method named `__dir__()`, you can use `dir()` to retrieve the list of object attributes|methods

In [96]:
dir(nest)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

and `help()` to learn more about this specific object (e.g., list)

In [97]:
help(nest)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [98]:
# Quit with "", q or quit
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

### Dictionaries
Dictionaries are flexible mappings of keys to values, and form the basis of much of Python's internal implementation. They can be created via a comma-separated list of ``key:value`` pairs within curly braces, e.g.:

    dictionary = {'name':'John', 'surname':'Locke', ...}

In [99]:
d = {'key1': 'item1', 'key2': 'item2', 'key3': 10}
d

{'key1': 'item1', 'key2': 'item2', 'key3': 10}

Items are accessed and set via the indexing syntax used for lists and tuples, except here the index is not a zero-based order but valid key in the dictionary:

In [100]:
d['key1']

'item1'

In [101]:
d = dict(name=first_name, surname=last_name, age=age)
d

{'name': 'Slim', 'surname': 'Shady', 'age': 27}

In [105]:
# This won't work
d.key1

dict_values(['Slim', 'Shady', 27])

In [106]:
d.keys()

dict_keys(['name', 'surname', 'age'])

In [107]:
list(d.keys())

['name', 'surname', 'age']

In [108]:
d.items()

dict_items([('name', 'Slim'), ('surname', 'Shady'), ('age', 27)])

In [109]:
# in works with keys
'name' in d

True

In [110]:
# but not with values
'Slim' in d

False

In [111]:
# Unless you tell it to work with values
'Shady' in d.values()

True

### `Exercise 2`
Create a dictionary that behaves as follows:

    print(game_of_thrones["targaryens"][0]["name"])
    print(game_of_thrones["targaryens"][0]["status"])
    print(game_of_thrones["starks"][1]["name"])
    print(game_of_thrones["starks"][1]["status"])
    print(game_of_thrones["baratheons"][0]["name"])
    print(game_of_thrones["baratheons"][0]["status"])
    
Outputs:

    Daenarys
    Alive
    Robb
    Dead
    Stanis
    Dead

In [113]:
game_of_thrones = {"targaryens": [{"name": "Daenarys", "status": "Alive"}], 
                   "starks": [{},{"name": "Robb", "status": "Dead"}], 
                   "baratheons" : [{"name": "Stanis", "status": "Dead"}] } 

print(game_of_thrones["targaryens"][0]["name"])
print(game_of_thrones["targaryens"][0]["status"])
print(game_of_thrones["starks"][1]["name"])
print(game_of_thrones["starks"][1]["status"])
print(game_of_thrones["baratheons"][0]["name"])
print(game_of_thrones["baratheons"][0]["status"])

Daenarys
Alive
Robb
Dead
Stanis
Dead

In [116]:
game_of_thrones["targaryens"][0]["name"]

'Daenarys'

### Tuples
Tuples are in many ways similar to lists, but they are defined with parentheses rather than square brackets:

In [117]:
t = (1, 2, 3)

They can also be defined without any brackets at all:

In [118]:
t = 1, 2, 3
print(t)

(1, 2, 3)

Similarly to `lists` discussed before, `tuples` have a length, and individual elements can be extracted using square-bracket indexing:

In [119]:
a, b = 1, 2
a, b

(1, 2)

In [120]:
t[0]

1

The main distinguishing feature of tuples is that they are *immutable*: this means that once they are created, their size and contents cannot be changed:

In [121]:
# This won't work
t[0] = '10'

TypeError: 'tuple' object does not support item assignment

In [122]:
a = (1, 2, 3)
x = {
     a: 'test',
    '123': 'test'
}

In [123]:
a = 1
b = 2
a, b = (b, a)
a, b

(2, 1)

In [124]:
# Usually you don't need parenthesis
a, b = b, a
a, b

(1, 2)

In [125]:
x = 1,

In [126]:
a, = x

In [127]:
a

1

### Sets
Sets contain unordered collections of unique items.
They are defined much like lists and tuples, except they use the curly brackets of dictionaries:

In [128]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [129]:
{1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2}

{1, 2, 3}

In [130]:
set([3, 2, 1, 1, 2])

{1, 2, 3}

In [131]:
set('11112211111')

{'1', '2'}

In [132]:
set({'1': '1', '2': 2, '3': '3', '4': 2})

{'1', '2', '3', '4'}

In [133]:
list(dict.fromkeys([3, 2, 1, 1, 2]))

[3, 2, 1]

If you're familiar with the mathematics of sets, you'll be familiar with operations like the union, intersection, difference, symmetric difference, and others.
Python's sets have all of these operations built-in, via methods or operators.
For each, we'll show the two equivalent methods:

In [134]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [135]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [136]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [137]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

_____________________________________________
For a complete reference of Python methods and operations using these standard data types, you may check Python's 
[online documentation](https://docs.python.org/3/library/stdtypes.html).
_____________________________________________

### Booleans & Comparison Operators

In [138]:
True, False

(True, False)

In [139]:
1 > 2

False

In [140]:
1 < 2

True

In [141]:
1 >= 1

True

In [142]:
1 <= 4

True

In [143]:
1 == 1

True

In [146]:
'hi' == 'bye'

False

In [147]:
'hi' != 'hello'

True

In [148]:
5 > 3 > 1 > 0

True

### `Exercise`
Why this is true?

In [153]:
0.1 + 0.2 != 0.3

True

In [156]:
0.1 + 0.2

0.30000000000000004

## Logic Operators

In [157]:
(1 > 2) and (2 < 3)

False

In [158]:
(1 > 2) or (2 < 3)

True

In [159]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [161]:
not (1 == 2)

True

In [162]:
not 0, not [], not {}, not (), not '', not False

(True, True, True, True, True, True)

### `Exercise - Find out about this and let me know`

In [163]:
1 and 2

2

In [164]:
0 and 2

0

In [165]:
1 or 2

1

In [167]:
# Short circuting with or
from random import random, seed

seed(111)
a = None if random() > 0.5 else 5
x = a or 10
print(x)

10

In [168]:
(-5) ** 2, -5 ** 2

(25, -25)

### `Exercise`

In [169]:
not True or False and True and True

False

In [170]:
(not True) or (False and True) and True

False

[Operator Precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence)
________

## `range()`

In [171]:
range(100000)

range(0, 100000)

In [172]:
for i in range(5):
    print(i)

0
1
2
3
4

In [173]:
# Basic
list(range(5))

[0, 1, 2, 3, 4]

In [174]:
# With a start value
list(range(5, 10))

[5, 6, 7, 8, 9]

In [175]:
# With a step size
list(range(5, 10, 2))

[5, 7, 9]

In [176]:
list(range(-5, 11, 4))

[-5, -1, 3, 7]

In [177]:
# With a negative step
list(range(10, -2, -3))

[10, 7, 4, 1]

In [179]:
range(10, -10, -3)

[10, 7, 4, 1, -2, -5, -8]

In [183]:
line = dict(enumerate(range(10, -10, -3)))
line

{0: 10, 1: 7, 2: 4, 3: 1, 4: -2, 5: -5, 6: -8}

In [184]:
line[5]

-5

## `zip()`

In [185]:
prices = [550, 900, 1000]
goods = ["iPad Air", "iPad Pro 11", "iPad Pro 12.9"]

for price, good in zip(prices, goods):
    print("{} costs {} Eur".format(good, price))

iPad Air costs 550 Eur
iPad Pro 11 costs 900 Eur
iPad Pro 12.9 costs 1000 Eur

In [186]:
# What happens if they are of unequal length
prices = [550, 900, 1000]
goods = ["iPad Air", "iPad Pro 11"]

for price, good in zip(prices, goods):
    print("{} costs {} Eur".format(good, price))

iPad Air costs 550 Eur
iPad Pro 11 costs 900 Eur

In [187]:
from itertools import zip_longest

In [188]:
# What happens if they are of unequal length
prices = [550, 900, 1000]
goods = ["iPad Air", "iPad Pro 11"]

for price, good in zip_longest(prices, goods, fillvalue="Out of stock"):
    print("{} costs {} Eur".format(good, price))

iPad Air costs 550 Eur
iPad Pro 11 costs 900 Eur
Out of stock costs 1000 Eur